{% extends 'base.html.twig' %}

{% block title %}
	Peperoonii Prod - Contact
{% endblock %}

{% block body %}
	<h1>Nous Contacter</h1>
	{{ form_start(contactForm, {'attr': {'class': 'contact-form'}}) }}
	{{ form_row(contactForm.nom) }}
	{{ form_row(contactForm.email) }}
	{{ form_row(contactForm.message, {'attr': {'class': 'contact-msg'}}) }}
	{{ form_row(contactForm.envoyer) }}
	{{ form_end(contactForm) }}
{% endblock %}
