{% extends 'base.html.twig' %}

{% block title %}
	Peperoonii Prod - Accueil
{% endblock %}

{% block body %}


	<div class="slider">
		{% for track in tracks %}
			<div>
				<div class="details">
					<figure>
						<a href="{{ path("tracks_show", {'id' : track.id}) }}"><img src="{{ asset('/uploads/'~track.image) }}"></a>
						<figcaption>{{ track.title }}<br>
							{{ track.duration }}</figcaption>
					</figure>
					<audio src="{{ asset('/uploads/'~track.file) }}" controls></audio>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="intro">
		<p>Un rythme marquant, une mélodie entraînante et des basses appuyées font partie du mélange secret pour obtenir une bonne instru.</p>
		<p>Tu n'as pas les bases ou pas le temps de composer tes propres prods ?</p>
		<p>
			<span class="pp">Peperoonii Prod</span>
			te proposes des instrus rap déjà mixées et masterisées pour que tu poses tes meilleurs couplets dessus.</p>
		<p>Tu préfères la
			<span class="cat">Trap</span>
			ou le
			<span class="cat">Lo-Fi</span>
		</p>
		<p>Tu es peut-être plus
			<span class="cat">Phonk</span>
			ou le
			<span class="cat">Old-School</span>
		</p>
		<p>Tu veux rentrer être dans la tendance avec de la
			<span class="cat">Drill</span>
		</p>
		<p>N'hésite plus, tappe la catégorie dans la
			<a href="{{ path('tracks') }}" class="introSearch">barre de recherche</a>
			et choisis l'instru qui t'inspire</p>
	</div>
	<section class="how-works">
		<h2>Comment ça marche ?</h2>
		<article>
			<h3>Faire une recherche</h3>
			<button class="btn-search">
				<a href="{{ path('tracks') }}">
					<i class="fas fa-search"></i>
				</a>
			</button>
		</article>
		<article>
			<h3>Ajouter à son panier</h3>
			<button type="button" class="btn-add-cart">
				<a href="{{ path('tracks') }}">
					<i class="fas fa-cart-plus"></i>
					<span>29.99€</span>
				</a>
			</button>
		</article>
		<article>
			<h3>Télécharger son fichier</h3>
			<a href="{{ path('tracks') }}">
				<i class="fas fa-download"></i>
			</a>
		</article>
	</section>
{% endblock body %}
