<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Peperoonii Prods, mon site professionnel pour s'acheter pleins d'instrumentales !">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>
			{% block title %}Peperoonii Prod
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link rel="icon" type="image/png" href="{{ asset('build/img/favicon-32x32.png') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ asset('build/css/slick.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('build/css/slick-theme.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('build/css/normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('build/css/fonts.css') }}">

		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<header>
			<div class="logo-and-tab">
				<a href="/" class="logo"><img src="{{ asset('build/img/Logo PP_Simple.png') }}" alt="Logo du Projet"></a>
				<div class="header-tab">
					{% if not app.user %}
						<div class="non-authentificated">
							<a href="{{ path('security_login') }}" class="sign-up login">Se Connecter</a>
						</div>
						<div class="non-authentificated">
							<a href="{{ path('security_registration') }}" class="sign-up">S'inscrire</a>
						</div>
					{% else %}
						<div class="authentificated">
							<a href="{{ path('security_logout') }}" class="sign-up logout">Se Déconnecter</a>
						</div>
						<a href="/panier" class="cart">
							<i class="fas fa-shopping-cart"></i>
						</a>
					{% endif %}
				</div>
			</div>
			<nav>
				<a href="{{ path('home') }}" class="nav-active nav-home">Accueil</a>
				<a href="{{ path('tracks') }}" class="nav-tracks">Tracks</a>
				<a href="{{ path('pepe') }}" class="nav-pepe">L'artiste</a>
				<a href="{{ path('contact') }}" class="nav-contact">Nous Contacter</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin')}}" class="nav-admin">Page Admin</a>
				{% endif %}
			</nav>
		</header>
		<div class="container"> {% block body %}{% endblock %}
			</div>
			<footer>
				<div class="info">
					<div class="info-details">
						<i class="fab fa-paypal"></i>
						<h3>Paiement Securisé</h3>
						<p>Chaque paiement s'effectue de manière sécurisée par Paypal. Vos données resteront confidentielles.</p>
					</div>
					<div class="info-details">
						<i class="fas fa-arrow-circle-down"></i>
						<h3>Téléchargement Immédiat</h3>
						<p>Une fois la licence achetée, un lien exclusif vous est délivré pour télécharger instantanément la production.</p>
					</div>
					<div class="info-details">
						<img src="{{ asset('build/img/waveform.png') }}">
						<h3>Instrumentales De Haute-Qualité</h3>
						<p>Chaque instrumentale est délivrée avec la meilleure qualité de son et un mixage travaillé, idéal tant pour travailler en studio que chez soi.</p>
					</div>
				</div>
				<div class="footer">
					<a href="#" class="footer-logo"><img src="{{ asset('build/img/Logo PP_Simple.png') }}"/></a>
					<div class="footer-flex">
						<div class="footer-contact">
							<h4>Contact</h4>
							<ul class="contact">
								<li>Mail :
									<a href="mailto:peperooniiprod@gmail.com">peperooniiprod@gmail.com</a>
								</li>
								<li>Téléphone :
									<a href="tel:+33789616798">07 89 61 67 98</a>
								</li>
							</ul>
						</div>
						<div class="footer-social">
							<h4>Reseaux</h4>
							<ul class="social-networks">
								<li>
									<a href="https://www.instagram.com/pepe_roonii/">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="https://soundcloud.com/mathis-chenut">
										<i class="fab fa-soundcloud"></i>
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/mathis.chenut">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
			<script type="text/javascript" src="{{ asset('build/js/slick.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('build/js/script.js') }}"></script>
		</body>
	</html>
</body></html></body></html>
